* {
    box-sizing: border-box;
    scrollbar-color: #2e3236 #1f2327;
    -webkit-scrollbar-color: #2e3236 #1f2327;
}

:root {
    --bleu: #3954ca;
}

::-webkit-scrollbar-track {
    background: #1f2327;
}

::-webkit-scrollbar-thumb {
    background: #2e3236;
}

html {
    width: 100%;
    height: 100%;
}

body {
background-color: #0055b0;
    color: #5b677d;
}

.main {

    background-color: #ffffff;
    color: #5b677d;

}

.flashCards {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    color: #343a40;
}

h2.uppasside::after {
    background-color: #007bff;
}

.asside {
    color: #ffffff;
}

.matierre h2 {
    text-decoration: #000000 solid 2px;
}

.matierre a {
    color: #ffffff;
}

.categorie a {
    color: #fff;
}

.txt {
    color: #fff;
}

.navbarr .matierre{
    background-color: rgba(0, 0, 0, 0.5);
}


.navbarr .categorie {
    background-color: #0055b0;
}

.navbarr .categorie {
    color: #fff;
}

.affA {
    color: #fff;
    /*La règle de couleur de cette classe est dans le fichier
      style.css pour des raisons de transition.*/
}
