body {
    font-family: 'Rubik', sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #f1f1f1;
}

main {
    margin-left: 20%;
    font-size: 25px;
}

.maincontent {
    
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color: gray;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    font-size: 16px;
}

.fa-caret-up {
    float: right;
    padding-right: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.fa-arrow-left {
    float: left;
    padding: 1% 2% 1% 2%;
}

.fa-arrow-left:hover {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

header {
    padding: 1% 1% 2% 1%;
    width: 100%;
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-flexbox;
}

.headercontent{
    display: flex;
}