* {
    box-sizing: border-box;
}

asside {
    overflow: auto;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h2 a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    'Raleway',
    'Rubik',
    sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
}

.flashCards {
    margin: 4% 0px 22% 22%;
    border-radius: 10px;
    min-width: 63%;
    min-height: 200px;
    position: relative;
    right: 13%;
    padding: 3%;
}

.flashCards-content {
    text-align: center;
    padding: 25px;
}

.flashCards-text {
    margin-top: 4%;
}

.NFC {
    min-width: 100%;
    width : auto;
    padding : 0 0 0 5px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.NFC::after {
    content:"";
    display: block;
    
}

.separator {

    width: calc(100% - 54%);
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.asside {
    min-height: 100vh;
    height : auto;
    position: absolute;
    width: 295px;
    max-width: 295px !important;
    overflow: visible;
    float: left;
    padding: 25px;
    z-index: 1;
}

.asside-header {
    padding: 20px;
}

.matierre {
    list-style: none;
    padding: 10px 25px;
    font-size: 1.1em;
}

.matierre h2 {
    margin: 0;
    padding: 10px 25px;
}



.matierre a {
    text-decoration: none;


}

.matierre a:hover {
    opacity: 1;
    transition: .3s;
}

.categorie {
    list-style: none;
    padding: 10px 25px;
    font-size: 1.1em;
}

.categorie a {
    text-decoration: none;

    opacity: .5;
}

.categorie a:hover {
    opacity: 1;
    transition: .3s;
}

.footer {
    float: bottom;
}

.row-counter {
    padding: none;
    margin: none;
    margin-left: 17%;
    padding-top: 20px;
    display: flex;
}

.row-a {
    padding: none;
    margin: none;
    margin-left: 0%;
    padding-top: 20px;
}

.prev-btn,
.next-btn {
    transform: scale(1.5);
}

.affA {
    z-index: 6;
    background-color: transparent;
    float: right;
    right: 15%;
    position: absolute;
    border: 5px;
    border-radius: 44px;
    line-height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    border-color: transparent;
    background: #0055b0;
    box-shadow:0 200px 100px -100px #0A97C7 inset, 0 0 5px black;
    -webkit-transition: background 1s ease-in-out, box-shadow 1s ease-in-out;
    transition: background 1s ease-in-out, box-shadow 1s ease-in-out;
}


.affA:hover {
    background:#0055B0;
    box-shadow:0 200px 100px -100px #0A34C7 inset, 0 0 5px black;    border-color: #2a77ca;
    /*La règle de couleur de cette classe est dans le fichier
      style.css pour des raisons de transition.*/
}

/*---------------------------------*/
.phoneNav {
    display: none;
}

h2 a {
    font-size: larger;
}

.navbar {
    display: none;
}

.phone-more {
    display: none;
}

.navbarr {
    display: grid;
}

drop {
    min-height: 25px;
    min-width: 25px;
    height: auto;
    width: auto;
}

.bug .txt {
    padding: 0 0 -5px 0;
    padding: 0;
    font-size: 1.4rem;

    cursor: pointer;
    opacity: .9;
}

.bug2 .txt {
    padding: 0;
    padding: 0 0 5px 0;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    opacity: .9;
}


.bug:hover,
.bug2:hover {
    opacity: 1;
    transition: .3s;
}

.return {
    float: right;
    margin: 12.5px 0 0 0;
}

.form .row {
    padding: none;
    margin: none;
    padding-top: 20px;
}

#message {
    text-size-adjust: vertical !important;
    padding: 10px;
    min-height: 100px !important;
}

.navbarr .categorie {
    list-style: none;

}

.DropDown {
    display: flex;
    padding: 3px;
    border-radius: 2px;
}

.DropDown span {
    position: relative;
    bottom: 5px;
    font-size: small;
}

#leModal {
    max-width: 50%;
    margin: auto;
}


.navbar {
    position: absolute;
    visibility: hidden;
}

@media (max-width : 1024px) {

    .main {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
    }

    .asside {
        position: absolute;
        visibility: hidden;
    }

    .links a {
        margin: 0 10px;
        text-decoration: none;
        opacity: .8;
    }

    .links a:hover {
        opacity: 1;
        transition: .3s;
    }

    drop.bug,
    drop.bug2 {
        position: absolute;
        visibility: visible;
        top: 50px;
        right: -200%;
    }

    ul.matierre1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
    }

    ul.matierre2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
    }

    ul.matierre drop.bug {
        right: -145%;
    }

    .navbar {
        width: 97%;
        height: 150px;
        visibility: visible;
        padding: 50px;
    }

    .btn {
        margin: 5px;
    }

    @media (max-width: 750px) {

        .navbar {
            visibility: hidden;
        }

        .phoneNav {
            visibility: visible;
            width: 100%;
            height: 50px;
            left: 0;
            top: 0;
        }

        .main {
            top: 50px;
        }

        h1 {
            font-size: 25px;
            vertical-align: middle;
        }

        .separator {
            margin-left: 0%;
        }

        .phoneNav div {
            vertical-align: middle;
            margin-left: 5%;
            margin-top: 1%;
            margin-right: 5%;
            display: inline-block;
        }

        .phoneNav div a i {
            position: absolute;
            right: 5vw;
            font-size: 40px;

        }

    }
}


.uppasside {
    align-self: auto;

}

.arrow-down::after {
    content: "▾";
    margin: 0px;
    border: 0px;
    font-weight: bolder;

}

.arrow-up::after {
    content: "▴";
    margin: 0px;
    border: 0px;
    font-weight: bolder;
}

.close {
    font-family: Rubik, sans-serif;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.col-md-4 {
    flex: auto;
    max-width: 1%;
}

.uppasside {
    align-self: auto;
    font-size: 1.8em;

}

.arrow-down::after {
    content: "▾";
    margin: 0px;
    border: 0px;
    font-weight: bolder;

}

.arrow-up::after {
    content: "▴";
    margin: 0px;
    border: 0px;
    font-weight: bolder;
}