* {
    box-sizing: border-box;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

a {
    transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

h2 a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: BlinkMacSystemFont,
        -apple-system,
        'Segoe UI',
        'Raleway',
        'Rubik',
        sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    margin-top: 10vh !important;
}

footer div ul li {
    font-size: small;
    opacity: .7;
}

footer .is-vcentered {
    margin: 0 10vw;
}

.cookieCheck{
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: #eee;
    border-top: solid 1px #555;
    width: 100%;
    z-index : 10;
}
.cookieCheck input {
    position: relative;
    float: right;
}

.sup {
    font-size: small;
    bottom: 6px;
}


.nextToBorderRight {
    position : absolute;
    right : 10px;
    top : 5px;
    padding : 0 10px;
}

.rightSideBorder {
    position : absolute;
    right : 20px;
    top : -0.5rem;
    font-size : 2rem;
    font-weight : bold;
}
.from {
    float : left;
}
.from::before {
    content : "De : "
}
.time {
    position : absolute;
    right : 10px;
}
.time::before {
    content : "Le : "
}

.nextToForm {
    position : absolute;
    top : 0rem;
    left : 52%;
    vertical-align: center;
}

.FCAnswer {
    font-size: larger;
    border-left: 3px solid #48C774;
    border-radius: 3px;
    padding-left: 10px;
}

.FCQuestion {
    font-size: larger;
    font-weight: bold;
}

.FCNote {
    font-size: large;
    border-left: 3px solid #555;
    border-radius: 3px;
    padding-left: 10px;
}

.input .number {
    min-width: 170px !important;
}

.footer-title {
    color: #363636;
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-link-title {
    color: #363636;
    font-size: 1.25rem;
    font-weight: 600;
    transition: color .7s ease-out;
}

.footer-link-title:hover {
    color: #3273dc;
}

.footer-link {
    color: #363636;
    font-size: initial;
    transition: color 0.7s ease-out;
}

.footer-link:hover {
    color: #3273dc;
}